<ion-header>
  <ion-toolbar>
    <ion-title>Cadastre-se</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
  
  <div class="container">

    <div class="login">

      <form>

        <h2>Faça seu cadastro</h2>
        <div>
          <ion-item>
            <ion-icon size="large" name="person"></ion-icon> 
            <ion-input label="Usuário" labelPlacement="floating" placeholder="Insira seu Usuário"></ion-input>
          </ion-item>
        </div>
        
        <div>
          <ion-item>
            <ion-icon size="large" name="lock-closed"></ion-icon> 
            <ion-input type="password" label="Senha" labelPlacement="floating" placeholder="Insira sua senha"></ion-input>
          </ion-item>
        </div>
        
        <ion-button shape="round" class="ion-margin-top">
          Registre-se
          <ion-icon slot="end" name="person-add"></ion-icon>
        </ion-button>
        
      </form>

    </div>

  </div>
  
</ion-content>
