<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
  <div class="container">
    <div class="login">

      <h2>Login</h2>
      <ion-item>
        <ion-icon size="large" name="person"></ion-icon>
        <ion-input [(ngModel)]="user" required label="Email" labelPlacement="floating"
          placeholder="Insira seu Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon size="large" name="lock-closed"></ion-icon>
        <ion-input [(ngModel)]="password" type="password" required label="Senha" labelPlacement="floating"
          placeholder="Insira sua senha"></ion-input>
      </ion-item>

      <ion-button shape="round" class="ion-margin-top" (click)="login()">Entrar<ion-icon slot="end"
          name="log-in"></ion-icon></ion-button>
      <ion-button href="/registro" shape="round" class="ion-margin-top">Registre-se<ion-icon slot="end"
          name="person-add"></ion-icon></ion-button>

    </div>
  </div>
</ion-content>
